Input-files: *.txt content/*.txt globals/*.txt header/*.txt footer/*.txt home/*.txt item_details/*.txt items_list/*.txt list_header/*.txt merchandising/*.txt reviews/*.txt shopping_cart/*.txt product_lists/*.txt
Combined-file: Templates.js
Keep-files: 1
Referring-files: ../*.ssp
Version: 2
Variable-name: SC.templates